# Gmail + Oauth
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Web
Flask
gunicorn
requests
wget
pyjwt

# Whatsapp
twilio
whatsapp-api-client-python

# OpenAI
openai

# MYSQL
mysql-connector-python

# Other
azure-cognitiveservices-speech
python-dotenv
pydub
