google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# azure-cognitiveservices-speech
mysql-connector-python
twilio
whatsapp-api-client-python
python-dotenv
wget
pydub
openai
Flask
gunicorn
# Flask-SQLAlchemy
# pyautogen>=0.2.3