# Rename this file to .env

# Project Path
WORK_PATH=

# Domain name
DOMAIN=

# GreenApi https://console.green-api.com/instanceList
GREENAPI_ID=
GREENAPI_TOKEN=

# PlayHT-Api https://play.ht/studio/api-access
PLAYHT_ID=
PLAYHT_TOKEN=

# Azure Speech Api
SPEECH_KEY=
SPEECH_REGION=

# OpenAI
OPENAI_API_KEY=
ASSISTANT_ID=

# Google Cloud
CLIENT_ID=
CLIENT_SECRET=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=

# MYSQL database
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=